//@import "~antd/dist/antd.css";
@import "~antd/dist/antd.variable.css";

html * {
  box-sizing: border-box;
}

.App {
  margin: 0 1rem;
  // min-height: 100vh;
}
.Full-window-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.Auth-container {
  width: 26rem;
  .Auth-title {
    text-align: center;
    margin-bottom: 1rem;
  }
}
.Border-container {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
}
.reflex-container {
  height: 100vh !important;
}

.text-right {
  text-align: right !important;
}
.text-center {
  text-align: center !important;
}
#repository-table tbody td:first-child {
  text-align: right;
}
